# MongoDB Atlas Connection URI
MONGO_URI=mongodb+srv://<username>:<password>@<cluster>.mongodb.net/<database_name>?appName=<app_name>

# MongoDB Database Names
MONGO_DB_NAME=japan_trip
TEST_MONGO_DB_NAME=japan_trip_test

# Pexels API key for dynamic image fetching
PEXELS_API_KEY=your_pexels_api_key_here

# App configuration
ADMIN_ACTION_TOKEN=some_secure_token
FLASK_DEBUG=true
